// Mypage.module.scss (수정됨)

.mypageContainer {
  display: flex;
  flex-direction: column;
  min-height: 60vh; 
  background-color: #f0f0f0;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.mainContent {
  flex: 1; 
  display: flex;
  flex-direction: column;
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contentArea {
  flex-grow: 1;
  padding: 20px;

  h2 {
    text-transform: capitalize; 
    margin-top: 0;
    color: #333;
  }

  hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
}