.routeHeader {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;

  &__headerContent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;

    &__serviceName {
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      left: 0; // 왼쪽 끝에 고정
    }

    &__nav {
      display: flex;
      gap: 24px;
      margin-left: auto; // 로고 오른쪽에 붙고 화면 줄어들면 왼쪽으로 이동
      flex-wrap: wrap; // 좁으면 줄 바꿈 가능
    }

    &__nav a {
      text-decoration: none;
      color: black;
      font-weight: 500;

      &:hover {
        color: #007bff;
      }
    }
  }
}
