// UserLogin.module.scss

// Main section
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.loginImage {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.loginForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    width: 40%;
    margin-left: 20px;
  }
}

.title {
  font-size: 1.5rem; // text-2xl
  font-weight: 600; // font-semibold
  margin-bottom: 1rem; // mb-1
}

.description {
  color: #6b7280; // text-gray-500
  margin-bottom: 1.5rem; // mb-6
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; // space-y-5
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; // text-base
  box-sizing: border-box;
  margin: 10px 0;
}

.input:focus {
  border-color: #f87171; // focus:border-red-400
  outline: none;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #cc0000;
}

.forgotPassword {
  text-align: right;
  margin-top: 1rem; // mt-3
}

.forgotPassword a {
  font-size: 0.875rem; // text-sm
  color: #f87171; // text-red-500
  text-decoration: underline;
}
